<!DOCTYPE html>
<html>

<head>
    <title></title>

</head>

<body>
    <%for(let product of products){%>

        <h1>
            <%=product.price%>
        </h1>
        <h1>
            <%=product.DESCRIPTION%>
        </h1>

        <% } %>

</body>

</html>