<!DOCTYPE html>
<html>

<head>


</head>

<body>

    <%- include('parts/header'); %>

        <%for(let product of productes){%>

            <h1>
                <%=product.price%>
            </h1>
            <h1>
                <%=product.DESCRIPTION%>
            </h1>

            <% } %>

</body>

</html>